{%- doc -%}
  Renders a single authority feature row for the methylation-hero authority box.

  @param {object} block - The Shopify block object (type: authority_feature)
{%- enddoc -%}

{%- liquid
  assign feat_icon   = block.settings.icon
  assign feat_line_1 = block.settings.line_1
  assign feat_line_2 = block.settings.line_2
-%}

<div class="methylation-hero__feature" {{ block.shopify_attributes }}>
  {%- if feat_icon != blank -%}
    {{
      feat_icon
      | image_url: width: 48
      | image_tag:
        loading: 'lazy',
        alt: '',
        class: 'methylation-hero__feature-icon',
        widths: '24, 48'
    }}
  {%- endif -%}

  {%- if feat_line_1 != blank or feat_line_2 != blank -%}
    <div class="methylation-hero__feature-text">
      {%- if feat_line_1 != blank -%}
        <span class="methylation-hero__feature-line-1">{{ feat_line_1 | escape }}</span>
      {%- endif -%}
      {%- if feat_line_2 != blank -%}
        <span class="methylation-hero__feature-line-2">{{ feat_line_2 | escape }}</span>
      {%- endif -%}
    </div>
  {%- endif -%}
</div>
