{%- liquid
  assign cta_label = block.settings.label | default: 'Claim My Bundle'
  assign cta_link  = block.settings.link  | default: '#'
-%}

{%- if cta_label != blank -%}
  <a
    href="{{ cta_link }}"
    class="methylation-hero__cta"
    data-cta="methylation-hero"
    {{ block.shopify_attributes }}
  >
    <span class="methylation-hero__cta-label">{{ cta_label | escape }}</span>
    {%- render 'methylation-cart-icon' -%}
  </a>
{%- endif -%}

{% schema %}
{
  "name": "Primary CTA",
  "settings": [
    {
      "type": "text",
      "id": "label",
      "label": "Button label",
      "default": "Claim My Bundle"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Button link"
    }
  ]
}
{% endschema %}
